

.card{
    width: 270px;
height: 370px;
border: 1px solid gray;
}
.photo{
    width: 150px;
    border-radius: 10px;

}
.info{
    display: flex;
    justify-content: space-evenly;
}
.card-btn{
    background-color: aquamarine;
}
.home-container{
    display: flex;
}
.card-container{
    width: 600px;
/* display: grid;
grid-template-columns: repeat(3,1fr); */
/* flex-wrap: wrap; */
display: flex;
flex-wrap: wrap;
gap: 20px;


/* border: 2px solid tomato; */
}